.login {
	display: grid;
	place-items: center;
	height: 100vh;
	overflow-y: overlay;
	background-color: #000;
}

.login > img {
	width: 100%;
	object-fit: contain;
}

.login > a {
	padding: 20px;
	background: #1db954;
	border-radius: 99px;
	font-weight: 800;
	color: #fff;
	text-decoration: none;
}
